<div class="eventOverviewContainer" layout="column">
    <div layout="row" flex>
        <md-card class="eventOverview" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex></span>Event Overview<span flex></span>
                </div>
            </md-toolbar>
            <img class="eventImage" ng-src='{{event.photo}}'><!--ng-src="http://placehold.it/1068x200" />-->
            <div class="eventInfo">
                <!--<div>Eventid: {{event.id}}</div>-->
                <div>Name: {{event.title}}</div>
                <div>Description: <span ng-bind-html='event.description'></span></div>
                <div>Location: {{event.location.name}}</div>
                <div>Start Time: {{event.startDateTime|date:"MMM d, y h:mm a"}}</div>
                <div>End Time : {{event.endDateTime|date:"MMM d, y h:mm a"}}</div>
            </div>
        </md-card>
    </div>
    <div layout="row" flex>
        <md-card flex layout="column" class="ticketTypesCard">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div class="ticketTypeheader">Ticket Types</div>
                    <span flex></span>
                    <md-button class="md-secondary" ng-click="go('dashboard/events/'+curEventId+'/ticketTypes/manage')">Manage</md-button>
                </div>
            </md-toolbar>
            <md-card-content flex>
                <md-list>
                    <md-list-item class="ticketType" ng-repeat="tt in ticketTypes">
                        <div class="ticketTypeName">{{tt.name}}</div>
                        <div class="ticketTypePrice md-secondary">{{tt.price|currency}}</div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card flex layout="column" class="attendeesCard">
            <md-toolbar>
                <div class="md-toolbar-tools">Attendees</div>
            </md-toolbar>
            <md-card-content flex>
                <md-list>
                    <md-list-item class="attendee" ng-repeat="u in attendees">
                        <div class="attendeeName">{{u.name}}</div>
                        <div class="numTickets md-secondary">{{$index + 1}}</div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>