<div class='homePage'>
    <div class='row'>
        <div class='col-md-6 action'>
            <md-button class="md-raised" ng-click="go('/boxOffice/'+event.id+'/scan')">Scan</md-button>
        </div>
         <div class='col-md-6 action'>
            <md-button class="md-raised" ng-click="go('/boxOffice/'+event.id+'/purchase')">Purchase</md-button>
        </div>
    </div>
     <div class='row'>
        <div class='col-md-6 action'>
            <md-button class="md-raised" ng-click="go('/boxOffice/'+event.id+'/refund')">Refund</md-button>
        </div>
         <div class='col-md-6 action'>
            <md-button class="md-raised" ng-click="go('/boxOffice/'+event.id+'/willcall')">Will Call</md-button>
        </div>
    </div>
</div>