<div class='row homePage'>
    <div class='col-md-12'>
        <h1>{{event.title}}</h1>
        <h5>By: Mr Tikit Team</h5>
        <div class='location'>
            {{event.location.name}}
            <p>{{event.location.location.street}}, {{event.location.location.city}}, {{event.location.location.state}} {{event.location.location.zip}}, {{event.location.location.country}}</p>
        </div>
        <div class='date'>
             {{event.startDateTime | date:'EEEE, MMMM d yyyy'}}<span ng-if='!isSameDay(event.startDateTime, event.endDateTime)'> - {{event.endDateTime | date:'EEEE, MMMM d yyyy'}}</span>
            <p class='time'>{{event.startDateTime | date:'h:mm a'}} - {{event.endDateTime | date:'h:mm a'}}</p>
        </div>
        <div class='feed'>
            <div class="fb-comments" data-href="https://www.facebook.com/events/1687771854795332/" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
</div>